* {
    font-family: 'Inter', sans-serif;
    cursor: default;
    user-select: none;
}

.header {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    padding: var(--header-padding);
    border: 1px solid var(--border-color);
    background: var(--header-background);
    border-radius: var(--border-radius);
}

.header-title {
    flex: 1;
    font-size: var(--header-font-size);
    font-weight: 600;
    -webkit-app-region: drag;
}

.header-actions {
    display: flex;
    gap: var(--header-gap);
    align-items: center;
    -webkit-app-region: no-drag;
}

.header-actions span {
    font-size: var(--header-font-size-small);
    color: var(--header-actions-color);
}

.header .button {
    background: var(--button-background);
    color: var(--text-color);
    border: 1px solid var(--button-border);
    padding: var(--header-button-padding);
    border-radius: 8px;
    font-size: var(--header-font-size-small);
    font-weight: 500;
}

.header .icon-button {
    background: none;
    color: var(--icon-button-color);
    border: none;
    padding: var(--header-icon-padding);
    border-radius: 8px;
    font-size: var(--header-font-size-small);
    font-weight: 500;
    display: flex;
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.header .icon-button svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.header .icon-button:hover {
    background: var(--hover-background);
    opacity: 1;
}

.header .button:hover {
    background: var(--hover-background);
}

.header.click-through .button:hover,
.header.click-through .icon-button:hover {
    background: transparent;
}

.key {
    background: var(--key-background);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0px;
}